version: "3.8"

services:
  traefik:
    image: traefik:v3.1
    container_name: reverse-proxy-traefik
    restart: unless-stopped

    ports:
      - "80:80"
      - "443:443"

    command:
      - "--log.level=INFO"
      - "--api.dashboard=true"

      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"

      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"

      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

    networks:
      - proxy

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`proxy.home.ar`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.service=api@internal"

networks:
  proxy:
    external: true
